/* line 5, ../sass/about.scss */
.about-me {
  text-align: center;
}
/* line 8, ../sass/about.scss */
.about-me .title {
  color: #d4d4d4;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 40px;
  padding-top: 25px;
}
/* line 16, ../sass/about.scss */
.about-me img.me {
  margin-top: 20px;
  width: 90px;
  height: 110px;
  border: 1px solid #d4d4d4;
}
/* line 27, ../sass/about.scss */
.about-me .info {
  margin-top: 20px;
  color: #39363D;
  line-height: 30px;
  text-align: justify;
  font-size: 15px;
  font-family: Raleway, sans-serif;
}

@media all and (max-width: 768px) {
  /* line 40, ../sass/about.scss */
  .info {
    font-size: 13px !important;
  }
}
