/* line 4, ../sass/experience.scss */
.experience .title {
  padding-top: 25px;
  text-align: center;
  color: #d4d4d4;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 100;
}
/* line 8, ../sass/experience.scss */
.experience .work-card {
  margin-top: 20px;
  color: #39363D;
  line-height: 30px;
  text-align: justify;
  font-size: 17px;
  font-family: Raleway, sans-serif;
}

@media all and (max-width: 480px) {
  /* line 14, ../sass/experience.scss */
  .work-card {
    font-size: 10px !important;
  }
}
