/* line 13, ../sass/header.scss */
.background-cover {
  position: absolute;
  background-color: rgba(45, 47, 51, 0.85);
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 21, ../sass/header.scss */
.background-cover .welcome h1 {
  text-align: center;
  color: #FFFFFF;
  font-size: 60px;
  font-family: 'Comic Sans MS';
}
/* line 30, ../sass/header.scss */
.background-cover .welcome p {
  padding-top: 45px;
  text-align: center;
  color: #A0A0A1;
  font-size: 18px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 100;
}
/* line 42, ../sass/header.scss */
.background-cover .social {
  padding-top: 40px;
  text-align: center;
}
/* line 46, ../sass/header.scss */
.background-cover .social li {
  display: inline !important;
}
/* line 50, ../sass/header.scss */
.background-cover .social a {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 24px;
  color: #A7AEB2;
  border: 2px solid transparent;
  width: 50px;
  height: 50px;
  border-width: 2px;
  border-radius: 50%;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-flex;
}
/* line 65, ../sass/header.scss */
.background-cover .social a:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #FFFFFF;
  border-style: solid;
}
/* line 71, ../sass/header.scss */
.background-cover .social a.mail:hover {
  border-color: #D62121;
}
/* line 74, ../sass/header.scss */
.background-cover .social a.twitter:hover {
  border-color: #00abee;
}
/* line 77, ../sass/header.scss */
.background-cover .social a.github:hover {
  border-color: #000000;
}
/* line 80, ../sass/header.scss */
.background-cover .social a.stackoverflow:hover {
  border-color: #F48024;
}
/* line 83, ../sass/header.scss */
.background-cover .social a.linkedin:hover {
  border-color: #1B86BC;
}
