/* line 7, ../sass/myWork.scss */
.my-work .glide__arrows button {
  border-radius: 50%;
  font-size: 50px;
  width: 75px;
  border: none;
  color: #838587;
}
/* line 14, ../sass/myWork.scss */
.my-work .glide__arrows button:hover {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 22, ../sass/myWork.scss */
.my-work .glide__wrapper, .my-work .glide__track {
  padding: 0px;
}
/* line 26, ../sass/myWork.scss */
.my-work .glide__slide {
  position: relative;
  margin: 0px;
  clear: none;
  background-color: #30333A;
  height: 100vh;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 37, ../sass/myWork.scss */
.my-work .glide__slide .project-description {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40px;
  color: #FFFFFF;
  width: 60%;
  margin: auto;
}
@media only screen and (max-device-width: 480px) {
  /* line 37, ../sass/myWork.scss */
  .my-work .glide__slide .project-description {
    width: 90%;
  }
}
/* line 50, ../sass/myWork.scss */
.my-work .glide__slide .project-description .colors div {
  position: relative;
  top: 15px;
  left: 14px;
  margin-right: 5px;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* line 61, ../sass/myWork.scss */
.my-work .glide__slide .project-description .colors .red {
  background-color: #f67070;
}
/* line 65, ../sass/myWork.scss */
.my-work .glide__slide .project-description .colors .yellow {
  background-color: #ede178;
}
/* line 69, ../sass/myWork.scss */
.my-work .glide__slide .project-description .colors .green {
  background-color: #b7e67d;
}
/* line 74, ../sass/myWork.scss */
.my-work .glide__slide .project-description p {
  font-family: Anton, sans-serif;
  text-align: center;
  padding: 9px;
  margin-bottom: 0px;
}
/* line 82, ../sass/myWork.scss */
.my-work .glide__slide .project-image {
  width: 60%;
  margin: auto;
}

@media all and (max-width: 768px) {
  /* line 90, ../sass/myWork.scss */
  .project-description, .project-image {
    width: 90% !important;
    margin: auto;
  }
}
