body {
    background-color: #f8f8f8;
}
.title {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 13px;
    margin-bottom: 5px;
}

.italic {
    font-style: italic;
}

.lk-header {
    background-color: #525252;
    color: #ffffff;
    padding: 40px 25px;
}

.lk-header--avatar img {
    width: 150px;
    height: auto;
}

.lk-header--name {
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    display: inline-block;
    border-bottom: 4px solid #cdcdcd;
}

.lk-header--title p {
    letter-spacing: 1.5px;
    font-size: 18px;
}

.lk-content {
    padding: 20px 0px;
    background-color: #e4e5e9;
}

.lk-content--block {
    color: #323232;
}

.lk-content--block .row {
    margin-bottom: 20px;
}

.lk-content--block-title {
    padding: 15px 40px;
    background-color: #cdcdcd;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.lk-content--block-body {
    padding: 30px 40px;
}
