@import "compass";
@import "./variables";

.about-me {
	text-align: center;

	.title {
		@include title($color);
	}

	img.me {
		margin-top: 20px;
		width: 90px;
		height: 110px;
		border: 1px solid $color;

		&:hover {
			// background-color: #000000;
		}
	}

	.info {
		margin-top: 20px;
		color: #39363D;
		line-height: 30px;
		text-align: justify;
		font: {
			size: 15px;
			family: Raleway, sans-serif;
		}
	}
}

@media all and (max-width: 768px) {
	.info {
		font-size: 11px !important;
	}
}