@import "compass";
@import "./variables";

.about-me {
	text-align: center;

	.title {
		@include title($color);
	}

	img.me {
		margin-top: 20px;
		width: 90px;
		height: 110px;
		border: 1px solid $color;

		&:hover {
			// background-color: #000000;
		}
	}

	.info {
		@include info;
	}
}

@media all and (max-width: 480px) {
	.info {
		font-size: 10px !important;
	}
}