@font-face {
    font-family: 'm';
    src: local('m'),  url('../fonts/vtks giz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial'),  url('../fonts/Arial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Black';
    src: local('Arial Black'),  url('../fonts/arial-black_[allfont.net].ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gadget';
    src: local('Gadget'),  url('../fonts/ufonts.com_gadget.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Batang';
    src: local('Batang'),  url('../fonts/Batang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beijing';
    src: local('Beijing'),  url('../fonts/Beijing Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Broadway';
    src: local('Broadway'),  url('../fonts/ufonts.com_broadway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marker Felt';
    src: local('Marker Felt'),  url('../fonts/ufonts.com_marker-felt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Castellar';
    src: local('Castellar'),  url('../fonts/ufonts.com_castellar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Sans MS';
    src: local('Comic Sans MS'),  url('../fonts/2086.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier New';
    src: local('Courier New'),  url('../fonts/ufonts.com_courier-new.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edwardian';
    src: local('Edwardian'),  url('../fonts/Edwardian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Elephant';
    src: local('Elephant'),  url('../fonts/elefants.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Forte';
    src: local('Forte'),  url('../fonts/Forte.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Freestyle Script';
    src: local('Freestyle Script'),  url('../fonts/Freestyle Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Georgia';
    src: local('Georgia'),  url('../fonts/Georgin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hobo Std';
    src: local('Hobo Std'),  url('../fonts/Hobo Std.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Impact';
    src: local('Impact'),  url('../fonts/Impact.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato'),  url('../fonts/Lato.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Console';
    src: local('Lucida Console'),  url('../fonts/Lucida Console.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Sans Unicode';
    src: local('Lucida Sans Unicode'),  url('../fonts/Lucida Sans Unicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida Calligraphy';
    src: local('Lucida Calligraphy'),  url('../fonts/Lucida Calligraphy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald'),  url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'),  url('../fonts/Pacifico.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palatino Linotype';
    src: local('Palatino Linotype'),  url('../fonts/Palatino Linotype.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Palace Script MT';
    src: local('Palace Script MT'),  url('../fonts/Palace Script MT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway'),  url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),  url('../fonts/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Symbol';
    src: local('Symbol'),  url('../fonts/Symbol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: local('Tahoma'),  url('../fonts/Tahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Times New Roman';
    src: local('Times New Roman'),  url('../fonts/Times New Romanahoma.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trebuchet MS';
    src: local('Trebuchet MS'),  url('../fonts/Trebuchet MS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: local('Verdana'),  url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Viner Hand ITC';
    src: local('Viner Hand ITC'),  url('../fonts/Viner Hand ITC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}