@import "compass";
@import "./variables";

$bodyColor: #30333A;
$pColor: rgba(104,111,122,0.8);

.skills {
	height: 100vh;
	color: $color;
	color: #FFFFFF;
	background-color: $bodyColor;

	.title {
		@include title($color);
		font-family: Raleway, sans-serif;
	}

	.skills-info {
		color: $color;
		margin-top: 30px;
		line-height: 30px;
		text-align: justify;
		font: {
			size: 17px;
			family: Raleway, sans-serif;
		}
	}
}

@media all and (max-width: 480px) {
	.skills-info {
		font-size: 11px !important;
	}
}