$color: #d4d4d4;

@mixin title($color: '#000000') {
	padding-top: 25px;
	text-align: center;
	color: $color;
	font-family: Raleway, sans-serif;
	font-size: 40px;
	font-weight: 100;
}

@mixin info($color: #39363D) {
	margin-top: 20px;
	color: $color;
	line-height: 30px;
	text-align: justify;
	font: {
		size: 17px;
		family: Raleway, sans-serif;
	}
}